.app-wrapper {
  display: grid;
  margin: 0 auto;
  width: 98%;
  grid-gap: 2px;
  grid-template-areas:
    "header"
    "nav"
    "content"
    "footer";
}
.app-wrapper-content {
  grid-area: content;
  background-color: rgb(225, 183, 94);
}

@media (min-width: 576px) {
  .app-wrapper {
    width: 80%;
    grid-gap: 10px;
    grid-template-columns: 1fr 4fr;
    grid-template-areas:
      "header header header header header "
      "nav content content content content"
      "footer footer footer footer footer";
  }
}
